body {
  margin: 0;
  padding: 0;
	background: #fafafa;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}
/*******************ヘッダーページ***********************/
/*ヘッダー*/
header{
	height:80px;
	width:100%;
	overflow: hidden;
	border-bottom: 1px solid black;
	background: white;
}
.header-left h1{
	font-weight: bold;
	font-size: 36px;
	margin-top:20px;
	margin-left: 50px;
	float:left;
	cursor: pointer;
}
.main-theme{
	color: black;
}
.header-left p{
	margin-top:40px;
	margin-left: 50px;
	float:left;
}
.header-right{
	margin-top:40px;
	margin-right: 100px;
}
.header-right p{
	float:right;
	margin-right:30px;
}
.header-right p:hover{
	cursor: pointer;
	color:#c0c0c0;
}
.square{
	height:25px;
	width:100px;
	padding:3px;
	border:1px solid #333;
	text-align: center;
	background: #333;
	border-radius: 8px;
}
.header-signup-btn{
	color:#fff;
}
.login-btn, .logout-btn, .myp-btn{
	color:#fff;
}

/*******************サインアップページ***********************/
.registration{
	width:500px;
	padding-top:80px;
	margin: 0 auto;
}
.registration h2{
	margin:0 auto;
	padding-bottom:20px;
	font-size:26px;
}
.regi_explain p{
	margin-top:50px;
	font-size:16px;
}
form{
	width:90%;
	margin-top:30px;
	margin-left:30px;
	background: #eee;
	border-radius: 5px;
}
.theme-wrapper{
	width:100%;
	margin-top:30px;
	margin-left:20px;
	padding-top:20px;
}
.theme-wrapper p{
	float:left;
}
.theme-wrapper span{
	width: 32px;
	height: 18px;
	border-radius: 4px;
	background-color: #e8000a;
	color: #fff;
	font-size: 11px;
	display: inline;
	padding: 4px;
	line-height: 1;
	margin: 0;
	font-weight: 400;
	margin-left: 10px;
	vertical-align: middle;
	position: relative;
	top: -.1em;
	white-space: nowrap;
}
input[type="text"],input[type="password"]{
	height:50px;
	width:90%;
	margin-top:10px;
	margin-left:20px;
	font-size:15px;
	border-radius: 4px;
	display: block;
}
.signup-btn, .login-do-btn, .withdraw-btn{
	font-size:18px;
	margin-top:50px;
	margin-left:177px;
	margin-bottom:30px;
	border:1px solid #444;
	border-radius: 4px;
	cursor: pointer;
}
input[type="submit"]:hover{
	background: #444;
	color:white;
	cursor: pointer;
}

.area-msg{
	margin-top:10px;
	margin-left:20px;
	color:#e8000a;
}
label.err input{
	background: #f7dcd9;
}

/*******************フッターページ***********************/
/*フッター*/
footer{
	height:50px;
	width:100%;
	overflow: hidden;
	background: #444;
	color:white;
	margin-top:100px;
}
.footer-left{
	font-size: 18px;
	float:left;
	line-height: 50px;
	margin-left:50px;
	cursor: pointer;
}
.footer-right{
	font-size:12px;
	line-height: 50px;
	float:right;
	position: relative;
	right:40%;
}

/*******************メニューページ***********************/
.menu-wrapper{
	height:60px;
	width:100%;
	font-size: 18px;
	background: white;
	box-shadow:0 5px 10px rgba(0,0,0,0.3);
}

.menu-main{
	height:100%;
	width:80%;
	margin:0 auto;
	overflow: hidden;
}
.menu{
	margin-left:10px;
	margin-right:10px;
	float:left;
	color:black;
}
.menu :hover{
	cursor: pointer;
	color:#c0c0c0;
}
.left-menu {
	border-left: 1px dotted #333;
	color:black;
}
.mrg-20{
	margin-left:20px;
}
i{
	margin-right:5px;
}
/*****************トップページ********************/
.index-wrapper{
	min-height: 630px;
	margin-top:8px;
}
.photos-wrapper{
	width:68%;
	height:350px;
	padding-top:55px;
	padding-bottom:55px;
	margin:0 auto;
}

/*******************退会ページ***********************/
.withdraw-wrapper{
	min-height:560px;
	width:500px;
	padding-top:80px;
	margin: 0 auto;
}
.back-to{
	margin-top:20px;
	font-size:18px;
}
.back-to a{
	color:#808080;
}
.back-to a:hover{
	border-bottom: 1px solid #808080;
}
/****************ログインページ***********************/
.login-wrapper{
	min-height:560px;
	width:500px;
	padding-top:80px;
	margin: 0 auto;
}
.login-wrapper h2{
	margin:0 auto;
	padding-bottom:10px;
	font-size:26px;
}

form{
	width:90%;
	margin-top:30px;
	margin-left:30px;
	background: #eee;
	border-radius: 5px;
}
.theme-wrapper{
	width:100%;
	margin-top:30px;
	margin-left:20px;
	padding-top:20px;
}
.theme-wrapper p{
	float:left;
}
.theme-wrapper span{
	width: 32px;
	height: 18px;
	border-radius: 4px;
	background-color: #e8000a;
	color: #fff;
	font-size: 11px;
	display: inline;
	padding: 4px;
	line-height: 1;
	margin: 0;
	font-weight: 400;
	margin-left: 10px;
	vertical-align: middle;
	position: relative;
	top: -.1em;
	white-space: nowrap;
}

.area-msg{
	margin-top:10px;
	margin-left:20px;
	color:#e8000a;
}
label.err input{
	background: #f7dcd9;
}

.login-do-btn{
	color:black;
}

.next-login{
	padding-left:15px;
}
/*****************マイページ********************/
.main-wrapper{
	width:80%;
	min-height:640px;
	margin:0 auto;
	padding-top:100px;
	overflow: hidden;
}
.my-main_wrapper{
	width:70%;
	min-height:640px;
	float:left;
}
/*****************サイドバー********************/
.my-side_wrapper{
	width:30%;
	min-height:640px;
	float:left;
}
.side-box{
	width:65%;
	margin:0 auto;
	border:1px solid black;
	border-radius: 5px;
}
.side-ul{
	margin-bottom:40px;
}
.side-menu{
	width:130px;
	margin-top:40px;
}
.side-btn{
	color:black;
}
.side-btn:hover{
	cursor: pointer;
	color:#c0c0c0;
}

/*****************プロフィール編集********************/
.prof-wrapper{
	width:70%;
	height:1700px;
	float:left;
}
.profContent_wrapper{
	width:80%;
	margin:0 auto;
	padding-top:5px;
}
.sub_theme{
	width:100%;
	margin-top:10px;
}
select{
	height:40px;
	width:80px;
	margin-top:10px;
	margin-left:20px;
	font-size:15px;
	border-radius: 4px;
}
.change-prf-btn{
	font-size:18px;
	margin-top:50px;
	margin-left:230px;
	margin-bottom:30px;
	border:1px solid #444;
	border-radius: 4px;
	cursor: pointer;
}

/*****************パスワード変更****************/
.passRe-main_wrapper{
	width:70%;
	height:1700px;
	float:left;
}
.passRe_wrapper{
	width:80%;
	margin:0 auto;
	padding-top:5px;
}

.change-pass-btn{
	font-size:18px;
	margin-top:50px;
	margin-left:230px;
	margin-bottom:30px;
	border:1px solid #444;
	border-radius: 4px;
	cursor: pointer;
}


/*****************Locigramとは****************/
.about-wrapper{
	width:70%;
	min-height:580px;
	margin:0 auto;
}
.about-loci{
	width:200px;
	padding-top:100px;
	margin:0 auto;
}
.about-cont{
	margin:0 auto;
	width:65%;
	padding-top:50px;
	line-height: 50px;
}

/*****************投稿写真****************/
.postCon-wrapper{
	width:293px;
	height:310px;
	float:left;
	margin-top:28px;
	margin-left:20px;
}
.photo-wrapper{
	width:293px;
	height:293px;
}
.photo-wrapper img{
	width:293px;
	height:293px;
}
.placeName-wrapper{
	width:293px;
	font-size:15px;
}
.placeName{
	color:#555;
}
/*****************投稿ボタン****************/
.postBtn {
	position: fixed;
	bottom: 60px;
	right: 50px;
	z-index: 10;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #F4A460;
	color: #fff;
	text-align: center;
}

.postBtn-title{
	margin-top: 20px;
}

.postBtn i{
	margin-top: 4px;
	font-size: 30px;
}

/*****************投稿・編集画面****************/
.registPost-wrapper{
	width:70%;
	height:1700px;
	float:left;
}
.postContent_wrapper{
	width:80%;
	margin:0 auto;
	padding-top:5px;
}













